# Additional configuration for virtual hosting
# ============================================

[buildout]
vhosts-parts =
    vhost-static1
    vhost-static2
    vhost-static3
    vhost-static4
    vhost-static5
    vhost-static6
    vhost-static7
    vhost-static8
    vhost-static9
    vhost-static10
    vhost-static11
    vhost-static12
    vhost-static13
    vhost-static14
    vhost-static15
    vhost-static16
    vhost-static17
    vhost-static18
    vhost-static19
    vhost-static20
    vhost-static21
    vhost-static22

[static-locations]
static1         = /var/www/${sites:static1} 
static2         = /var/www/${sites:static2}
static3         = /var/www/${sites:static3}
static4         = /var/www/${sites:static4}
static5         = /var/www/${sites:static5}
static6         = /var/www/${sites:static6}
static7         = /var/www/${sites:static7}
static8         = /var/www/${sites:static8} 
static9         = /var/www/${sites:static9}/dist
static10        = /var/www/${sites:static10}
static11        = /var/www/${sites:static11}
static12        = /var/www/${sites:static12}
static13        = /var/www/${sites:static13}
static14        = /var/www/${sites:static14}
static15        = /var/www/${sites:static15}
static16        = /var/www/${sites:static16}
static17        = /var/www/${sites:static17}
static18        = /var/www/${sites:static18}
static19        = /var/www/${sites:static19}
static20        = /var/www/${sites:static20}
static21        = /var/www/${sites:static21}
static22        = /var/www/${sites:static22}


# Generate vhost configurations
#
# Static sites

[vhost-static1]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static1}.conf
output = ${locations:config}/${sites:static1}.conf

[vhost-static2]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static2}.conf
output = ${locations:config}/${sites:static2}.conf

[vhost-static3]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static3}.conf
output = ${locations:config}/${sites:static3}.conf

[vhost-static4]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static4}.conf
output = ${locations:config}/${sites:static4}.conf

[vhost-static5]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static5}.conf
output = ${locations:config}/${sites:static5}.conf

[vhost-static6]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static6}.conf
output = ${locations:config}/${sites:static6}.conf

[vhost-static7]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static7}.conf
output = ${locations:config}/${sites:static7}.conf

[vhost-static8]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static8}.conf
output = ${locations:config}/${sites:static8}.conf

[vhost-static9]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static9}.conf
output = ${locations:config}/${sites:static9}.conf

[vhost-static10]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static10}.conf
output = ${locations:config}/${sites:static10}.conf

[vhost-static11]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static11}.conf
output = ${locations:config}/${sites:static11}.conf

[vhost-static12]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static12}.conf
output = ${locations:config}/${sites:static12}.conf

[vhost-static13]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static13}.conf
output = ${locations:config}/${sites:static13}.conf

[vhost-static14]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static14}.conf
output = ${locations:config}/${sites:static14}.conf

[vhost-static15]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static15}.conf
output = ${locations:config}/${sites:static15}.conf

[vhost-static16]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static16}.conf
output = ${locations:config}/${sites:static16}.conf

[vhost-static17]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static17}.conf
output = ${locations:config}/${sites:static17}.conf

[vhost-static18]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static18}.conf
output = ${locations:config}/${sites:static18}.conf

[vhost-static19]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static19}.conf
output = ${locations:config}/${sites:static19}.conf

[vhost-static20]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static20}.conf
output = ${locations:config}/${sites:static20}.conf

[vhost-static21]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static21}.conf
output = ${locations:config}/${sites:static21}.conf

[vhost-static22]
recipe = collective.recipe.template
input = ${locations:templates}/${sites:static22}.conf
output = ${locations:config}/${sites:static22}.conf
